<h1>Set new password</h1>
Please set a new password for <%= @user.email %>
<form action='/users/set_new_password' method='post'>
  Password: <input name='password' type='password'>
  Password confirmation: <input name='password_confirmation' type='password'>
  <input type='hidden' name='password_token' value=<%= @password_token %>>
  <input type='submit' value='Submit'>
</form>